/* GENERALS */

:root {
    --col-light-blue: hsl(189, 54%, 87%);
    --col-dark-grey: hsl(225, 15%, 10%);
    --col-accent: hsl(247, 75%, 31%);
    --col-black: hsl(240, 25%, 2%);
    --col-grey: hsl(240, 4%, 45%);
    --col-white: hsl(240, 67%, 99%);
}

html {
    box-sizing: border-box;
    font-family: "Noto Serif", sans-serif;
    font-weight: 300;
    line-height: 2;
    background-color: var(--col-white);
    color: var(--col-black);
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 5vh max(calc(100vw - 1250px), 5vw);
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 0.8;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    color: var(--col-dark-grey);
}

button {
    background-color: transparent;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .05rem;
    border: none;
    padding: .6rem 1.6rem;
    margin: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.66s;
}

button.accent {
    background-color: var(--col-accent);
    color: var(--col-white);
}

button.accent:hover {
    background-color: var(--col-dark-grey);
}

button.background {
    border: 1px solid var(--col-accent);
    color: var(--col-accent);
}

button.background:hover {
    background-color: var(--col-accent);
    color: var(--col-white);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.vert-center {
    align-items: center;    
}

.col {
    flex: 1 1 24rem;
}

.no-grow {
    flex-grow: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
}

.bg-1 {
    background-color: var(--col-light-blue);
}

.bg-2 {
    background-color: var(--col-white);
}

.bg-3 {
    background-color: var(--col-black);
    color: var(--col-white);
}

.big-bottom {
    padding-bottom: 6rem;
    margin-bottom: 4rem;
}

.subtitle {
    font-family: "Space Mono", monospace;
    font-weight: 300;
    font-size: 1rem;
    color: var(--col-accent);
}

.shadowed {
    box-shadow: var(--col-grey) 0px 1rem 2rem 0px;
}

.max-width-30 {
    width: max(30rem, 30vw);
}

/* SPECIALS */
/* HEAD */

#head {
    height: 5rem;
}

.logo img {
    width: 10rem;
}

.desktop {
    display: block;
}

@media screen and (max-width: 60rem) {
    .desktop {
        display: none;
    }
}

.mobile {
    display: block;
    background-color: var(--col-white);
    position: absolute;
    top: 5rem;
    right: max(calc(100vw - 1250px), 5vw);
    opacity: 0.8;
    padding: 2rem 3rem 0 3rem;
}

.mobile > .lined-up {
    display: block;
}

.mobile > .nav-item {
    margin: 0 0 2rem 0;
}

.no-list-style {
    list-style-type: none;
}

li.nav-item {
    margin-left: 2rem;
    font-family: "Poppins", sans-serif;
}

.lined-up {
    margin-left: 2rem;
    display: inline;
}

.nav-item a {
    text-decoration: none;
    color: var(--col-black);
}

.nav-item a:hover {
    color: var(--col-accent);
    cursor: pointer;
}

.icon {
    font-size: 1.4rem;
    color: var(--col-dark-grey);
}

#mobile-menu {
    display: block;
}    

@media screen and (min-width: 60rem) {
    #mobile-menu {
        display: none;
    }
}

/* HERO */
img#hero-img {
    height: 75vh;
    margin-bottom: -10rem; /* undercut */
}


/* FEATURES */
#features {
    margin-top: 10rem; /* returned undercut */
}

#features .col {
    width: 50%;
}

/* PRICING */
.price-item {
    padding: 1rem;
    background-color: var(--col-dark-grey);
    color: var(--col-light-blue);
    border-radius: 1rem;
    text-align: center;
}

.price-item h3 {
    font-size: 2.6rem;
}

.price-item p {
    color: var(--col-white);
}

p.price {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

p.price .more {
    font-size: 3rem;
}

p.price .less {
    font-size: 1.6rem;
    color: var(--col-grey);    
}


.price-item ul {
    text-align: left;
}

/* CONTACT */
#contact {
    text-align: center;
}

/* FOOT */
#foot p, #foot h3 {
    color: var(--col-light-blue);
}

#foot a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--col-white);
}

#foot a:hover {
    color: var(--col-light-blue);
    cursor: pointer;
}